body {
    font-family: 'Fira Sans', sans-serif;
    width: 1600px;
    height: 5200px;
}
/* nav edit  */
.nav-css{
    width: 1600px;
height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-h1{
    font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
padding: 24px 160px 24px 150px;
margin: 31px 10px 31px 10px;
}
.nav-p{
    color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 15px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
    align-items: center;
    width: 116px;
height: 52px;
padding: 15px 30px 15px 30px;
margin: 31px 160px 31px 10px;
box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
}
/* main edit  */
.all-main{
    display: flex;
    flex-direction: column;
}
.fst-sec{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 24px;
background: rgb(198, 228, 214);
margin: 20px 160px 20px 160px;
}
