body {
    font-family: 'Fira Sans', sans-serif;
    width: 1600px;
    height: 5200px;
}
/* nav edit  */
.nav-css{
    width: 1600px;
height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-h1{
    font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
padding: 24px 160px 24px 150px;
margin: 31px 10px 31px 10px;
}
.nav-p{
    color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 15px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
    align-items: center;
    width: 116px;
height: 52px;
padding: 15px 30px 15px 30px;
margin: 31px 160px 31px 10px;
box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
}
/* main edit  */
.all-main{
    display: flex;
    flex-direction: column;
}
.fst-sec{
    width: 1280px;
height: 560px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 24px;
background: rgb(198, 228, 214);
margin: 20px 160px 20px 160px;
}
.fst-s-div{
    /* margin: 117px 64px 117px 60px; */
}
.s-p{
    width: 622px;
height: 29px;
margin: 117px 64px 16px 60px;
    color: rgba(14, 14, 14, 0.5);
    
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.s-h1{
    color: rgb(14, 14, 14);
margin: 0px 64px 24px 60px;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}
.s-btn{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
width: 270px;
height: 56px;
margin: 0px 416px 117px 60px;
border-radius: 8px;

background: rgb(0, 106, 80);
}
.fst-img{
    width: 474.03px;
height: 400px;
margin: 0px 64px;
}

/* second section of vision */
.snd-sec{
    width: 1280px;
    height: 120px;
}
/* .snd-sec{ 
} */
.s-d-h{
    width: 1280px;
height: 48px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin: 0px 160px 24px 160px;
}
.s-d-p{
    width: 1280px;
height: 48px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 0px 160px 24px 160px;
}

/* third section edit
 */
.trd-sec{
    width: 1280px;
    height: 325px;
    margin: 32px 160px 10px 160px;
}

.trd-div{
    display: flex;

}

.trd-div-c{
    width: 410px;
    height: 325px;
}
.bg1{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    margin: 0px 24px 32px 0px;
}
.bg2{
    box-sizing: border-box;
    border-radius: 16px;
    
    background: rgb(198, 228, 214);
    margin: 0px 24px 32px 0px;
}
.bg3{
    box-sizing: border-box;
    border-radius: 16px;
    
    background: rgb(247, 235, 207);
    margin: 0px 0px 32px 0px;
}
.img-edit{
    width: 49.66px;
height: 53.09px;
margin: 33px auto auto 45px;
}
.comb-h{
    width: 346.67px;
height: 24px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 25px 32px 12px 32px;
}
.comb-p{
    width: 346.67px;
height: 72px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 0 32px auto 32px;
}
.btn1{
    width: 122px;
height: 41px;

margin: 24px auto auto 32px;
border-radius: 8px;

color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
background: rgb(84, 144, 245);border: none;
}
.btn2{
    width: 122px;
height: 41px;

margin: 24px auto auto 32px;
border-radius: 8px;

color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: center;background: rgb(9, 161, 92);border: none;
}
.btn3{
    width: 122px;
height: 41px;

margin: 24px auto auto 32px;
border-radius: 8px;

color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: center;background: rgb(255, 194, 57);
border: none;
}
/* fourth section edit  */

.frt-sec{
    width: 1280px;
height: 120px;
}
.frt-div{
    width: 1280px;
height: 120px;
margin: 32px 160px 32px 160px;
}
.frt-h{
    width: 1280px;
height: 48px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;

}
.frt-p{
    width: 1280px;
height: 48px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 24px 0px 32px 0px;
}
/* fifth section edit  */
.fft-sec{
    border-radius: 24px;
background: rgb(250, 204, 204);
    width: 1280px;
height: 402px;
margin: 50px 160px 24px 160px;
}
.fft-div{
    display: flex;
}
.fft-img{
    width: 408px;
height: 306px;
    border-radius: 24px;
    margin: 48px auto 48px 48px;
}
.div-txt{
    width: 744px;
height: 290px;
margin: 56px 48px 56px 32px;
}
.div-hh{
    width: 744px;
height: 38px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
margin: 0px 0px auto auto;
}
.alj{
    width: 134px;
height: 40px;
margin: 12px auto auto 0px;
}
.dt{
    width: 744px;
height: 24px;
margin: 12px auto auto 0;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.para{
    width: 744px;
height: 72px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0px auto 0px;
}
.fft-btn{
    width: 139px;
height: 48px;
border-radius: 8px;

background: rgb(0, 106, 80);
margin: 32px auto 0px 0px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
border: none;
}



/* section six edit  */
.fft-sec1{
    border-radius: 24px;
background: rgb(250, 204, 204);
    width: 1280px;
height: 402px;
margin: 0px 160px 24px 160px;}


.div-txt-1{
    width: 744px;
height: 290px;
margin: 56px auto 56px 48px;
}



.fft-img-1{
   
        width: 408px;
    height: 306px;
        border-radius: 24px;
        margin: 48px 48px 48px auto;
    }

/* section six edit  */
.sx-sec{
    width: 1280px;
height: 325px;
margin: 50px 160px 24px 160px;
}

.sx-div{
    width: 1280px;
height: 120px;

}
.sx-h{
    width: 1280px;
height: 48px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;

}
.sx-p{
    width: 1104px;
height: 48px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
padding: 0px 100px 1px 100px;


}
.sx-btn-flx{
   
    width: 1071px;
height: 128px;
margin: 32px 104px 32px 104px;
} 

.bttn1{
    width: 240px;
height: 128px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;

border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin: 32px 24px 32px 0px;
}
.bttn2{
    width: 252px;
height: 128px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(198, 228, 214);
margin: 32px 0px 32px 0px;
}


.bttn3{
    width: 243px;
height: 128px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;

border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin: 32px 24px 32px 24px;
}
.bttn4{
    width: 250px;
    height: 128px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 32px 0px 32px 0px;
}

/* input section edit */
.inp-sec{
    width: 1032px;
height: 64px;
margin: 32px 284px 32px 284px;
}
.div-inp{
    width: 1032px;
height: 64px;


}
.enter{
    width: 1032px;
height: 64px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
text-align: center;
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px; 
}

.dn-btn{
    width: 1280px;
height: 56px;
margin: 10px 160px 30px 160px;
}
.bbtn{
    width: 151px;
height: 56px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align:center;
margin: 5px 564.5px;
}